version: '3.8'
services:
  db:
    image: postgres:15-alpine
    environment:
      POSTGRES_DB: ckp
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - ./pgdata:/var/lib/postgresql/data
      - ./db.sql:/docker-entrypoint-initdb.d/1-schema.sql:ro
    ports:
      - '5432:5432'

  app:
    build: .
    depends_on:
      - db
    environment:
      - DATABASE_URL=postgres://postgres:postgres@db:5432/ckp
      - PORT=3000
    ports:
      - '3000:3000'
    volumes:
      - ./:/usr/src/app
    command: npm run dev
